.App {
  color: #ffffff;
  background-color: #2e2e2e;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 8vw;
  padding-bottom: 0;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.back {
  font-size: 3.5vw;
  position: absolute;
  top: 3vw;
  left: 3vw;
  color: #ffffff;
}

html {
  background-color: #2e2e2e;
}

@media screen and (max-width: 426px) {
  .back {
    font-size: 3.5vh;
  }
}
